* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
}

header {
    width: 100%;
    position: fixed;
    background-color: #1f141e;
    height: 72px;
    top: 0;
    margin: 0;
    display: block;
    

}

header h3 {
    font-family: 'Ripon Script';
    font-size: 36px;
    color: #a70652;
    text-align: left;
    margin-left: 24px;
    display: inline;
    position: relative;
    top: 0;
    padding: 50%, 0;
    

}

header nav {

    float: right;
    
}

nav ul {

    float: right;
}

nav li {
    display: inline-block;
    font-family: 'Ripon';
    margin: auto 20px;
    color: #bb4056;
    padding: auto 0;
    font-size: 28px;
    

}


nav a {
    color: #bb4056;
    transition: color 700ms ease-in 200ms;
}

nav a:hover {
    color: #9294a7;
}
/*Welcome*/
.welcome {
    background-image: url('./pictures/01.JPG');
    position: relative;
    top: 40px;
    background-size: cover;
    background-repeat: no;
    background-position: center;
    background-attachment: fixed;
    min-height: 500px;
    width: 100%;
    display: block;
    text-align: center;
}

.welcome h1 {
    font-family:  'ripon script';
    font-size: 104px;
    color: #9294a7;
    opacity: 0.7;
    transition: color 1s ease-in 200ms;
    margin-bottom: 24px;
}

.welcome h1:hover {
    color: #a70652;
}

.welcome h2 {
    margin-top: 30px;
    padding-top: 30px;
    font-family: 'ripon script';
    position: relative;
    top: 100;
    color:  #1f141e;
    font-size: 32px;
}

.welcome h3 {
    font-family: 'ripon';
    color: #1f141e
    margin-top: 0px;
}