* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
}

header {
    width: 100%;
    position: fixed;
    background-color: #1f141e;
    height: 72px;
    top: 0;
    margin: 0;
    display: inline-flexbox;
    

}

header h3 {
    font-family: 'strongloves';
    font-size: 36px;
    color: #a70652;
    text-align: left;
    margin-left: 24px;
    align-self: center;
    justify-self: flex-start;
    display: inline-block;
    position: absolute;
    top: 50%;
    bottom: 50%;

}

header nav {
    align-self: flex-end;
    justify-self: flex-end;
    float: right;
    
}

nav ul {
    justify-self: flex-end;
    align-self: flex-end;
    float: right;
}

nav li {
    display: inline-block;

}