* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
}

header {
    width: 100%;
    position: fixed;
    background-color: #1f141e;
    height: 72px;
    top: 0;
    margin: 0;
    display: block;
    

}

header h3 {
    font-family: 'Ripon Script';
    font-size: 36px;
    color: #a70652;
    text-align: left;
    margin-left: 24px;
    display: inline;
    position: relative;
    top: 0;
    padding: 50%, 0;
    

}

header nav {

    float: right;
    
}

nav ul {

    float: right;
}

nav li {
    display: inline-block;
    font-family: 'Ripon';
    margin: auto 20px;
    color: #bb4056;
    padding: auto 0;
    font-size: 28px;
    

}


nav a {
    color: #bb4056;
    transition: color 700ms ease-in 200ms;
}

nav a:hover {
    color: #9294a7;
}
/*Welcome*/
#welcome {
    background-image:
}